build/
.venv/
examples/*/build/
__pycache__/
*.pyc
# Vendor documentation (ST copyright) - download from st.com
manuals/
# STM32Cube for VS Code local tool cache
.settings/
# Local tooling (IDE settings)
.vscode/
