# umcub bootloader USB device (DFU via dfu-util, CDC) - give the logged-in user access.
#   sudo cp tools/udev/70-umcub.rules /etc/udev/rules.d/ && sudo udevadm control --reload && sudo udevadm trigger
SUBSYSTEM=="usb", ATTR{idVendor}=="1209", ATTR{idProduct}=="0001", TAG+="uaccess", MODE="0660", GROUP="dialout"
